@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: Inter;
}

.cont {
    display: flex;
    flex-direction: column;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100vh;
    margin: 20px;
    padding: 20px;
}

.nav-head {
    display: flex;
    justify-content: space-between;    
    padding: 16px;
    margin-top: 44px;
    margin-bottom: 32px;
}

.nav-head h1 {
    color: var(--Base-Dark-Dark-50, #212325);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.link-text {
    display: flex;
    justify-content: center;
}

.link-text p {
    color: #91919F;
}

.link-log {
    text-decoration: underline;
    color: #7F3DFF;
}

button[type="submit"] {
    background-color: #7F3DFF;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #7F3DFF;
}


.signup button[type="submit"] {
    margin-top: 60px;
    margin-bottom: 50px;
}